include versioneer.py
include typhos/_version.py
include typhos/ui/*/*.json
include typhos/ui/*/*.ui
include typhos/ui/style.qss
include typhos/ui/loading.gif
include typhos/tests/happi.cfg
include typhos/tests/happi.json
include typhos/tests/utils/*.png
include requirements.txt
